:root {
  --white: #fff;
  --light: #fafafa;
  --dark-link: #2c2c2c;
  --dark-link-light: #616161;
  --gray-border-menu : #c2c1c1;
  --gray-hover-li: #e9e8e8;
}

/*MENU ==========================*/
nav #logo {
  margin: 0.7rem 1rem;
  width: 120px;
  height: 74px;
}
nav #burguer {
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 1.7rem;
  right: 1rem;
}

nav #menu a {
  font-family: "Playfair Display", serif;
}

.font-1 a:hover {
  color: var(--dark-link-light);
}

/*SETA DROPDOWN ==========================*/
.font-1.btn::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown {
  position: absolute;
  padding: 10px 0;
  border: 1px solid var(--gray-border-menu);
  margin-top: 1rem;
  background: var(--white);
}

.dropdown li {
  position: relative;
  width: 150px;
  height: 45px;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown li:hover {
  background: #e9e8e8;
}

.dropdown li a {
  font-size: 16px;
}

.dropdown li a:hover {
  color: var(--white);
}

ul .dropdown.hidden {
  opacity: 0;
  visibility: hidden;
}

#menu.hidden {
  opacity: 0;
  visibility: hidden;
}




